{% extends "catalog.html" %}
{% block content %}
      <section class="section">
      <div class="container">
          <div class="row single">
              <div class="left-col">
                  {% if current_animal.image_1 %}
                  <div class="slider">
                      <input type="radio" name="slide_switch" id="id1"/>
                      <label for="id1">
                          <img src="{{ MEDIA_URL }}{{ current_animal.image_1 }}" width="100"/>
                      </label>
                      <img src="{{ MEDIA_URL }}{{ current_animal.image_1 }}"/>
                      <input type="radio" name="slide_switch" id="id2" checked="checked"/>
                      <label for="id2">
                          <img src="{{ MEDIA_URL }}{{ current_animal.image_2 }}" width="100"/>
                      </label>
                      <img src="{{ MEDIA_URL }}{{ current_animal.image_2 }}"/>
                      <input type="radio" name="slide_switch" id="id3"/>
                      <label for="id3">
                          <img src="{{ MEDIA_URL }}{{ current_animal.image_3 }}" width="100"/>
                      </label>
                      <img src="{{ MEDIA_URL }}{{ current_animal.image_3 }}"/>

                      <input type="radio" name="slide_switch" id="id4"/>
                      <label for="id4">
                          <img src="{{ MEDIA_URL }}{{ current_animal.image_4 }}" width="100"/>
                      </label>
                      <img src="{{ MEDIA_URL }}{{ current_animal.image_4 }}"/>

                      <input type="radio" name="slide_switch" id="id5"/>
                      <label for="id5">
                          <img src="{{ MEDIA_URL }}{{ current_animal.image_5 }}" width="100"/>
                      </label>
                      <img src="{{ MEDIA_URL }}{{ current_animal.image_5 }}"/>
                  </div>
                  {% else %}
                       <img src="{{ MEDIA_URL }}{{ current_animal.image }}"/>
                  {% endif %}

              </div>

              <div class="text">
                  <h1>{{ current_animal.name }}</h1>
                  <p>{{ current_animal.text }}</p>
                  <div class="about">
                      <div class="about-item"><span class="fa fa-transgender"></span>{{ current_animal.sex }}</div>
                      <div class="about-item"><span class="fa fa-rocket"></span>{{ current_animal.age }}</div>
                  </div>
                  <div class="title">Оказать материальную помощь</div>
                  <div class="pay">
                      <div class="item"><span class="fa fa-money"></span>Купить корм</div>
                      <div class="item"><span class="fa fa-thermometer-quarter"></span>Купить лекарства</div>
                      <div class="item"><span class="fa fa-circle-o-notch"></span>Купить поводок</div>
                  </div>
                  <div class="title">Оказать другую помощь</div>
                  <div class="doing">
                      <div class="item"><span class="fa fa-blind"></span>Выгулять</div>
                      <div class="item"><span class="fa fa-eye"></span>Проведать в приюте</div>
                      <div class="item"><span class="fa fa-home"></span>Прибрать в вольере</div>
                  </div>
                  <div class="title">Поделиться добрыми делами с друзьями</div>
                  <div>

                    <script type="text/javascript">
                      VK.init({apiId: 7179978, onlyWidgets: true});
                    </script>
                    <!-- Put this div tag to the place, where the Like block will be -->
                    <div id="vk_like"></div>
                    <script type="text/javascript">
                        VK.Widgets.Like("vk_like", {type: "full"});
                    </script>
                  </div>
              </div>
          </div>
          <div class="row">
              {{ current_animal.description|safe }}
          </div>
          <div class="line"></div>
      </div>

  </section>
  <!-- конец записи-->

    <section class="section border-t">
      <div class="container">
        <div class="row justify-content-center mb-5 element-animate">
          <div class="col-md-8 text-center">
            <h2>Еще нуждаются в помощи</h2>
            <p class="mb-5 lead">Кликните на фотографию и получите подробную информацию о питомце. Узнайте о проблемах животного и окажите посильную помощь. </p>
          </div>
        </div>

        <div class="row no-gutters">
            {% for item in animals %}
              <div class="col-md-4 element-animate">
                <a href="{{ item.get_absolute_url }}" class="link-thumbnail">
                  <h3>{{ item.name }}</h3>
                  <span class="ion-plus icon"></span>
                  <img src="{{ MEDIA_URL }}{{ item.image }}" alt="{{ item.name }}" class="img-fluid">
                </a>
              </div>
            {% endfor %}
        </div>
          <p class="button-more"><a href="/get-friend/" class="btn btn-white more timeout">Посмотреть других</a></p>

      </div>
    </section>
    <!-- END section -->

{% endblock %}