<!doctype html>
<html lang="en">
  <head>
    <title>{{ current_shelter.full_name }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="{{ STATIC_URL }}img/favicon.png" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800" rel="stylesheet">

    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/animate.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/owl.carousel.min.css">

    <link rel="stylesheet" href="{{ STATIC_URL }}fonts/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}fonts/fontawesome/css/font-awesome.min.css">

    <link rel="stylesheet" href="{{ STATIC_URL }}fonts/flaticon/font/flaticon.css">

    <!-- Theme Style -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
    <!-- Put this script tag to the <head> of your page -->
    <script type="text/javascript" src="https://vk.com/js/api/openapi.js?162"></script>

  </head>
  <body>
    {% block site_wrapper %}{% endblock %}
    <!-- loader -->

    <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#f4b214"/></svg></div>
    <script src="{{ STATIC_URL }}js/jquery-3.2.1.min.js"></script>
    <script src="{{ STATIC_URL }}js/popper.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/owl.carousel.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.waypoints.min.js"></script>
    <script src="{{ STATIC_URL }}js/main.js"></script>
      {% if not sliders %}
        <script>
            $("nav").attr("style", "background: #343a40!important");
            $(".additionally").css({"display" : "flex", "flex-direction" : "row"});
            $(".additionally .center").css({"display" : "flex", "flex-direction" : "row", "margin-top" : "90px"});
            $(".additionally .center .phone").css({"order" : "2", "margin-left" : "20px", "font-size" : "16px"});
            $(".additionally .center .city").css("order", "1");
        </script>
    {% endif %}
  </body>
</html>