{% extends "catalog.html" %}
{% block content %}
    <section class="section">
      <div class="container">
        <div class="row justify-content-center mb-5 element-animate fadeInUp element-animated">
          <div class="col-md-8 text-center">
            <h2 class="heading mb-4">Истории успеха</h2>
            <p class="small-sub-heading">Животные, которых уже спасли от гибели на улице</p>
          </div>
        </div>
          {% include 'sys/history_block.html' %}
      </div>
    </section>
{% endblock %}