{% extends "catalog.html" %}
{% block content %}
    {% include "sys/slider.html" %}
    {% include "sys/animals.html" %}
    {% include "sys/rating_block.html" %}

      <section class="section">
      <div class="container">
          <div class="row justify-content-center mb-5 element-animate fadeInUp element-animated minus-bottom">
              <div class="col-md-8 text-center">
                  <h2 class="heading mb-4">Нам помогают</h2>
                  <p class="small-sub-heading">Результаты работы за месяц:</p>
              </div>
          </div>
          <div class="row">
              <div class="items">
                  <div class="item">
                      <div class="big">145 500 <span class="rouble">Р</span></div>
                      <div class="small">Собрано средств</div>
                  </div>
                  <div class="item">
                      <div class="big">600 <span>кг</span></div>
                      <div class="small">Куплено корма</div>
                  </div>
                  <div class="item">
                      <div class="big">2 000 <span>человек</span></div>
                      <div class="small">Не прошло мимо</div>
                  </div>
              </div>
          </div>
          <div class="line"></div>
      </div>
  </section>
  <!-- конец общей статистике-->

    <section class="section">
      <div class="container">
        <div class="row justify-content-center mb-5 element-animate fadeInUp element-animated">
          <div class="col-md-8 text-center">
            <h2 class="heading mb-4"><a href="/histories/">Истории успеха</a></h2>
            <p class="small-sub-heading">Животные, которых уже спасли от гибели на улице</p>
          </div>
        </div>
          {% include 'sys/history_block.html' %}
      </div>
    </section>
{% endblock %}