{% extends "catalog.html" %}
{% block content %}
    <section class="section">
      <div class="container">
        <div class="row justify-content-center mb-5 element-animate fadeInUp element-animated">
          <div class="col-md-8 text-center">
            <h2 class="heading mb-4">{{ current_menu.name }}</h2>
            <p class="small-sub-heading"></p>
          </div>
        </div>
          {% for item in text_blocks %}
            <div class="row">
              <div class="col-md-4 mb-4">
                <img src="{{ MEDIA_URL }}{{ item.image }}" alt="{{ item.name }}" class="img-fluid">
              </div>
                {{ item.text|safe }}
            </div>
          {% endfor %}

      </div>
    </section>
{% endblock %}