    <section class="section border-t">
      <div class="container">
        <div class="row justify-content-center mb-5 element-animate">
          <div class="col-md-8 text-center">
            <h2>Выбрать друга</h2>
            <p class="mb-5 lead">Кликните на фотографию и получите подробную информацию о питомце. Узнайте о проблемах животного и окажите посильную помощь. </p>
          </div>
        </div>

        <div class="row no-gutters">
            {% for item in animals %}
              <div class="col-md-4 element-animate">
                <a href="{{ item.get_absolute_url }}" class="link-thumbnail">
                  <h3>{{ item.name }}</h3>
                  <span class="ion-plus icon"></span>
                  <img src="{{ MEDIA_URL }}{{ item.image }}" alt="{{ item.name }}" class="img-fluid">
                </a>
              </div>
            {% endfor %}
        </div>
        {% if sliders %}
          <p class="button-more"><a href="/get-friend/" class="btn btn-white more timeout">Посмотреть других</a></p>
        {% endif %}
      </div>
    </section>
    <!-- END section -->