    <footer class="site-footer" role="contentinfo">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-3 mb-5">
            <h3>О проекте</h3>
            <p class="mb-3">Сервис помощи бездомным животным в приютах.</p>
            <ul class="list-unstyled footer-link d-flex footer-social">
                <li><a href="{{ current_shelter.group_vk }}" class="p-2" target="_blank"><span class="fa fa-vk"></span></a></li>
                <li><a href="#" class="p-2"><span class="fa fa-instagram"></span></a></li>
                <li><a href="#" class="p-2"><span class="fa fa-facebook"></span></a></li>
                <li><a href="#" class="p-2"><span class="fa fa-twitter"></span></a></li>
            </ul>

          </div>
          <div class="col-md-3 mb-5">
            <h3>Связаться с нами</h3>
            <ul class="list-unstyled footer-link">
              <li class="d-block">
                <span class="d-block">Адрес:</span>
                <span class="text-white">г. {{ current_shelter.city }}</span></li>
              <li class="d-block"><span class="d-block">Телефон:</span><span class="text-white">{{ current_shelter.phone }}</span></li>
                <li class="d-block"><span class="d-block">VK:</span><span class="text-white"><a href="{{ current_shelter.group_vk }}" target="_blank">{{ current_shelter.group_vk }}</a></span></li>
            </ul>
          </div>
          <div class="col-md-3 mb-5">
            <h3>Приют "{{ current_shelter.name }}"</h3>
            <ul class="list-unstyled footer-link">
              <li><a href="/about-us/">О нас</a></li>
              <li><a href="/get-friend/">Найти друга</a></li>
              <li><a href="/histories/">Истории успеха</a></li>
              <li><a href="/rating/">Рейтинг пользователей</a></li>
            </ul>
          </div>
          <div class="col-md-3">
                <script type="text/javascript" src="https://vk.com/js/api/openapi.js?162"></script>

                <!-- VK Widget -->
                <div id="vk_groups"></div>
                <script type="text/javascript">
                VK.Widgets.Group("vk_groups", {mode: 4, wide: 1, height: "400"}, 26629831);
                </script>
          </div>
        </div>
        <div class="row">
          <div class="col-12 text-md-center text-left">
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script> Все права защищены | <a href="{{ current_shelter.group_vk }}" target="_blank">Приют "{{ current_shelter.name }}"</a></p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </div>
        </div>
      </div>
    </footer>
    <!-- END footer -->