    <header role="banner">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand absolute" href="/">{{ current_shelter.name }}</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarsExample05">
            <ul class="navbar-nav mx-auto pl-lg-5 pl-0">
<!--              <li class="nav-item">-->
<!--                <a class="nav-link active" href="index.html">Главная</a>-->
<!--              </li>-->
               {% for item in menu_list %}
                  <li class="nav-item{% if item.get_child_menu %} dropdown{% endif %}">
                    <a class="nav-link{% if item.get_child_menu %} dropdown-toggle{% endif %}" href="{{ item.get_absolute_url }}"
                    {% if forloop.revcounter == 1 %} style="color:orange;"{% endif %}
                    >{{ item.name }}</a>
                    {% for sub_item in item.get_child_menu %}
                        {% if forloop.counter == 1 %}
                            <div class="dropdown-menu" aria-labelledby="dropdown04">
                        {% endif %}
                          <a class="dropdown-item" href="{{ sub_item.get_absolute_url }}">{{ sub_item.name }}</a>
                        {% if forloop.revcounter == 1 %}
                            </div>
                        {% endif %}
                    {% endfor %}
                  </li>
                {% endfor %}
            </ul>
            {% if user.first_name %}
                <div class="auth nav-link">{{ user.first_name }} <a href="/logout/">Выйти</a></div>
            {% else %}
{#                <div class="auth nav-link"><a href="/login/vk-oauth2">Войти</a></div>#}
                <div class="auth nav-link"><a href="#">Войти</a></div>
            {% endif %}

          </div>
        </div>
      </nav>
    </header>
    <section class="additionally">
        <div class="center">
            <div class="phone"><a href="tel:{{ current_shelter.phone }}">{{ current_shelter.phone }}</a></div>
                <div class="city">Город: <span data-city="nadym">{{ current_shelter.city }}</span></div>
        </div>
    </section>
    <!-- END header -->