  {% for item in histories %}

    <div class="row">
      <div class="col-md-4 mb-4">
        <img src="{{ MEDIA_URL }}{{ item.image }}" alt="{{ item.name }}" class="img-fluid">
      </div>
        {{ item.text|safe }}
    </div>
    <br/>
  {% endfor %}