<div class="open-window">
      <div class="shadow">
          <div class="close"></div>
              <div class="window-city">
                  <div class="title">Выберите город</div>
                  <div class="desc">Вы увидите приюты и питомцев этого города</div>
                  <div class="cities">
                      {% for item in shelters %}
                        <div class="one-city" data-city="shelter_{{ item.id }}">{{ item.city }}</div>
                      {% endfor %}
                  </div>
                  <div class="locations">
                      <div class="location">
                          {% for item in shelters %}
                            <div class="one-location" data-city="shelter_{{ item.id }}">— <a href="http://{{ item.subdomain_name }}uts-ma.ru">{{ item.name }} ({{ item.city }})</a>, <span>{{ item.phone }}</span></div>
                          {% endfor %}
                      </div>
                  </div>
          </div>

          <div class="window-registration">
              <div class="login-block">
                <div class="title">Вход в личный кабинет</div>
                  <form action="#" method="post">
                      {% csrf_token %}
                      <div class="row">
                          <div class="col-md-12 form-group">
                              <label for="email">Email</label>
                              <input type="email" id="email" class="form-control ">
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-12 form-group">
                              <label for="password">Пароль</label>
                              <input type="password" id="password" class="form-control ">
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-6 form-group">
                              <input type="submit" value="Войти" class="btn btn-primary">
                          </div>
                          <div class="any">
                              <div class="auth"><a href="#">Есть аккаунт?</a></div>
                              <div class="forgot"><a href="#">Забыли пароль?</a></div>
                          </div>
                      </div>
                  </form>
                  <div class="row">
                      <div class="any">
                          <div class="desc">Войти через соцсети:</div>
                          <ul class="list-unstyled d-flex auth-social">
                              <li><a href="/login/vk-oauth2" class="p-2"><span class="fa fa-vk"></span></a></li>
                              <li><a href="#" class="p-2"><span class="fa fa-facebook"></span></a></li>
                              <li><a href="#" class="p-2"><span class="fa fa-twitter"></span></a></li>
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="auth-block">
                  <div class="title">Регистрация</div>
                  <form action="#" method="post">
                      <div class="row">
                          <div class="col-md-12 form-group">
                              <label for="newemail">Email</label>
                              <input type="email" id="newemail" class="form-control ">
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-12 form-group">
                              <label for="newpassword">Пароль</label>
                              <input type="password" id="newpassword" class="form-control ">
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-6 form-group">
                              <input type="submit" value="Зарегистрироваться" class="btn btn-primary">
                          </div>
                      </div>
                  </form>
                  <div class="any">
                      <div class="login"><a href="#">Есть аккаунт?</a></div>
                  </div>
              </div>
              <div class="forgot-block">
                  <div class="title">Восстановление пароля</div>
                  <form action="#" method="post">
                      <div class="row">
                          <div class="col-md-12 form-group">
                              <label for="forgotemail">Email</label>
                              <input type="email" id="forgotemail" class="form-control ">
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-6 form-group">
                              <input type="submit" value="Восстановить пароль" class="btn btn-primary">
                          </div>
                      </div>
                  </form>
                  <div class="any">
                      <div class="login"><a href="#">Я вспомнил пароль</a></div>
                  </div>
              </div>
          </div>
                <div class="window-pay">
              <div class="title">Какую сумму хотите потратить?</div>
              <form action="#" method="post">
                  {% csrf_token %}
                  <label><input type="checkbox" name="option1" value="200" checked>  Корм 10 кг (200 <div class="rouble">Р</div> )</label><br>
                  <label><input type="checkbox" name="option2" value="300">  Корм 20 кг (300 <div class="rouble">Р</div> )<Br></label><br>
                  <label><input type="checkbox" name="option3" value="400">  Корм 30 кг (400 <div class="rouble">Р</div> )<Br></label><br>
                  <div class="row">
                      <div class="col-md-12 form-group">
                          <label for="pay">Ввести произвольную сумму:</label>
                          <input type="email" id="pay" class="form-control ">
                      </div>
                  </div>
                  <div class="row">
                      <iframe src="https://money.yandex.ru/quickpay/shop-widget?writer=seller&targets=%D0%9F%D0%BE%D0%B4%D0%B4%D0%B5%D1%80%D0%B6%D0%B0%D1%82%D1%8C%20%D0%A2%D1%80%D0%B8%D1%82%D0%BE%D0%BD%D0%B0&targets-hint=&default-sum=500&button-text=14&phone=on&mail=on&hint=&successURL=&quickpay=shop&account=41001572834190" width="100%" height="223" frameborder="0" allowtransparency="true" scrolling="no"></iframe>
                  </div>
              </form>
          </div>
          <div class="window-calendar">
              <div class="title">Выберите дату</div>
          <form action="#" method="post">
               {% csrf_token %}
          <table id="calendar2">
              <thead>
              <tr><td>‹<td colspan="5"><td>›
              <tr><td>Пн<td>Вт<td>Ср<td>Чт<td>Пт<td>Сб<td>Вс
              <tbody>
          </table>

          <div class="message"></div>
          <div class="row">
              <div class="col-md-6 form-group">
                  <input type="submit" value="Подтвердить" class="btn btn-primary calendar">
              </div>
          </div>
{#          <div class="row">#}
{#              <div class="col-md-6 form-group">#}
{#                  <input type="submit" value="Подтвердить" class="btn btn-primary">#}
{#              </div>#}
{#          </div>#}
          </form>
          </div>
      </div>
  </div>