 <section class="section bg-light less-padding">
      <div class="container">
        <div class="row justify-content-center mb-5 element-animate">
          <div class="col-md-8 text-center">
            <h2>Самые неравнодушные</h2>
              <p class="mb-5 lead">Рейтинг строится на основе активности пользователей. Учитываются потраченные средства и участие в жизни питомцев.</p>
          </div>
            <div class="rating-col">
                <div class="rating">
                    <div class="number"><strong>№</strong></div>
                    <div class="name"><strong>Имя</strong></div>
                    <div class="rat"><strong>Рейтинг</strong></div>
                    <div class="sum"><strong>Потратил</strong></div>
                    <div class="hour"><strong>Уделил времени</strong></div>
                </div>
                <div class="rating">
                    <div class="number">1. </div>
                    <div class="name"><a href="#">Иван Петрович</a></div>
                    <div class="name">128<sup><span class="green">+12</span></sup></div>
                    <div class="sum">120 500 <div class="rouble">Р</div></div>
                    <div class="hour">115 часов</div>
                </div>
                <div class="rating">
                    <div class="number">2. </div>
                    <div class="name"><a href="#">Иванов Иван Иванович</a></div>
                    <div class="rat">100<sup><span class="green">+10</span></sup></div>
                    <div class="sum">105 200 <div class="rouble">Р</div></div>
                    <div class="hour">105 часов</div>
                </div>
                <div class="rating">
                    <div class="number">3. </div>
                    <div class="name"><a href="#">Василий</a></div>
                    <div class="rat">98<sup><span class="green">+22</span></sup></div>
                    <div class="sum">98 000 <div class="rouble">Р</div></div>
                    <div class="hour">76 часов</div>
                </div>
                <div class="rating">
                    <div class="number">4. </div>
                    <div class="name"><a href="#">Георгий Владимирович</a></div>
                    <div class="rat">89<sup><span class="green">+5</span></sup></div>
                    <div class="sum">57 200 <div class="rouble">Р</div></div>
                    <div class="hour">65 часов</div>
                </div>
                <div class="rating">
                    <div class="number">5. </div>
                    <div class="name"><a href="#">Варвара Петровна</a></div>
                    <div class="rat">78<sup><span class="green">+9</span></sup></div>
                    <div class="sum">35 000 <div class="rouble">Р</div></div>
                    <div class="hour">54 часов</div>
                </div>
            </div>
            <p class="button-more"><a href="/rating/" class="btn btn-white more">Полный рейтинг пользователей</a></p>
        </div>
      </div>
    </section>