    <section class="home-slider owl-carousel">
        {% for item in sliders %}
              <div class="slider-item" style="background-image: url('{{ MEDIA_URL }}{{ item.image }}'">

                <div class="container">
                  <div class="row slider-text align-items-center justify-content-center">
                    <div class="col-md-8 text-center col-sm-12 element-animate">
                      <h1>{{ item.name }}</h1>
                      <p class="mb-5">{{ item.text }}</p>
                      <p><a href="{{ item.url }}" class="btn btn-white btn-outline-white">{{ item.text_button }}</a>
                    </div>
                  </div>
                </div>

              </div>
        {% endfor %}
    </section>
    <!-- END slider -->